<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "au.edu.anu.rsb_test1"
        versionCode = "10" 
        version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>RSB Testing</name>

    <description>
        Testing for RSB mobile apps. 
    </description>

    <author href="http://biology.anu.edu.au" email="vaughndumas@gmail.com">
        Vaughn Dumas
    </author>

</widget>